<div *ngIf="character">
    <h2>{{character.name | uppercase}} Details</h2>
    <div><span>year of birthday: </span>{{character.birth_year}}</div>
    <div><span>eye color: </span>{{character.eye_color}}</div>
    <div><span>hair color: </span>{{character.hair_color}}</div>
    <div><span>skin color: </span>{{character.skin_color}}</div>
    <div><span>height: </span>{{character.height}}</div>
    <div><span>mass: </span>{{character.mass}}</div>
    <div><span>gender: </span>{{character.gender}}</div>
  </div>