.character-list{
    border: 1px solid #fff;
    padding: 10px;

    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__list{
    }
    &__item{
        cursor: pointer;
        position: relative;
        .badge{
            position: relative;
            display: inline-block;
            vertical-align: text-top;
            margin-right: 12px;
            width: 10px;
            height: 10px;
            &::before{
                content: "_";
                position: absolute;
                left: 5px;
                top: -7px;
            }
            &::after{
                content: "_";
                position: absolute;
                left: 12px;
                top: 0;
                transform: rotate(90deg);
                transition: transform 300ms ease;
            }
        }
        // state
        &:hover{
          text-decoration: underline;  
          .badge{
            &::after{
                transform: rotate(0deg);
                transition: transform 300ms ease;
            }
          }
        }

    }
}